<div class="header">
    <div class="container">
        <div class="logo">
            Logo
        </div>
        <div class="action-link">
            <div class="opts">Dashboarding</div>
            <div class="opts">Pricing</div>
            <div class="opts">About us</div>
            <div class="opts" routerLink="/auth/login">Log-in</div>
        </div>
    </div>
</div>
<div class="body">
    <div class="hero">
        <div class="container">
            <div class="text"></div>
        </div>
    </div>
    <div class="testimonals">
        <div class="scroll-container">
            <div class="card">
                <div class="card-header"></div>
                <div class="card-body"></div>
            </div>
            <div class="card">
                <div class="card-header"></div>
                <div class="card-body"></div>
            </div>
            <div class="card">
                <div class="card-header"></div>
                <div class="card-body"></div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="logo"></div>
    <div class="cp"></div>
    <div class="link-opts">
        <div class="opts">Dashboarding</div>
        <div class="opts">Pricing</div>
        <div class="opts">About-us</div>
        <div class="opts">Login</div>
        <div class="opts">Signup</div>
    </div>
</div>