<div class="main-container">
    <div class="mdl_card mdl-shadow--2dp">
        <div class="mdl-card__title mdl-card--expand">
            <h3>Forgot Password</h3>
        </div>
        <div class="form signup-form">
            <div class="form-component mdl-js-textfield mdl-textfield mdl-textfield--floating-label">
                <label class="mdl-textfield__label" for="email">Enter Email</label>
                <input class="mdl-textfield__input" type="text" name="email" id="email">
            </div>
            <div class="form-component mdl-js-textfield mdl-textfield mdl-textfield--floating-label">
                <label class="mdl-textfield__label" for="password">Enter New Password</label>
                <input class="mdl-textfield__input" type="text" name="password" id="password">
            </div>
            <div class="form-component mdl-js-textfield mdl-textfield mdl-textfield--floating-label">
                <label class="mdl-textfield__label" for="re-password">Re-Enter Password</label>
                <input class="mdl-textfield__input" type="text" name="re-password" id="re-password">
            </div>
            <div class="form-button"><button class="mdl-button mdl-button--raised mdl-button--accent">Update Password</button></div>
        </div>
    </div>
</div>